.buttonsWrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.buttons {
  background-color: white;
  width: fit-content;
  height: fit-content;
  opacity: 100%;
  position: relative;
}
.buttons:hover {
  background-color: #ffa400;
  opacity: 100%;
}
.prevButtonIcon {
  background-image: url("../src/assets/images/prev.png");
  background-size: contain;
}
.buttons:hover .prevButtonIcon {
  background-image: url("../src/assets/images/prev-light.png");
  background-size: contain;
}
.nextButtonIcon {
  background-image: url("../src/assets/images/next.png");
  background-size: contain;
}
.buttons:hover .nextButtonIcon {
  background-image: url("../src/assets/images/next-light.png");
  background-size: contain;
}
